.mouse {
	width: 32px;
	height: 48px;
	border: 3px solid #2E2C2F;
	border-radius: 60px;
	position: relative;
}

.mouse::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2E2C2F;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 20px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.mouse {
		width: 0px;
		height: 0px;
		border: 0px solid #2E2C2F;
		border-radius: 60px;
		position: relative;
	}
	
	.mouse::before {
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		top: 300px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #2e2c2f68;
		border: 2px solid #2E2C2F;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
	
	@keyframes wheel {
		to {
			opacity: 0;
			top: 0px;
		}
	}
	
	@-webkit-keyframes wheel {
		to {
			opacity: 0;
			top: 0px;
		}
	}
  }
  